<div
    class="relative flex flex-col justify-between rounded-3xl border-gray-500 border-[0.5px] border-solid p-8 items-start pt-8 h-full"
>
    <h2
        class="text-3xl text-center rounded-full bg-[#A65C8D] px-5 py-1 absolute -top-5 left-1/2 -translate-x-1/2 w-11/12"
    >
        Sobre mí
    </h2>
    <div class="flex flex-row py-10">
        <div class="basis-1/5 pr-5 flex items-center">
            <img src="/src/assets/img/user.png" alt="" />
        </div>
        <div class="basis-4/5 flex flex-col gap-4">
            <p>
                Me apasiona transformar ideas en soluciones funcionales,
                escribir código limpio y resolver problemas de manera eficiente
                mediante la tecnología.
            </p>
            <p>
                Me apasiona transformar ideas en soluciones funcionales,
                escribir código limpio y resolver problemas de manera eficiente
                mediante la tecnología.
            </p>
        </div>
    </div>
    <hr class="w-full border-[0.8px] border-solid border-[#A65C8D]" />
    <p class="pt-10">
        Mi objetivo es seguir creciendo como desarrolladora.
    </p>
</div>
