<div
    class="relative flex flex-col justify-between rounded-3xl border-gray-500 border-[0.5px] border-solid p-5 items-start pt-8 h-full"
>
    <h2
        class="text-3xl text-center rounded-full bg-[#A65C8D] px-5 py-1 absolute -top-5 left-1/2 -translate-x-1/2 w-11/12"
    >
        Sobre mí
    </h2>
    <div class="flex flex-row py-5">
        <div class="basis-1/5 px-5">
            <img src="/src/assets/img/user.png" alt="" />
        </div>
        <div class="basis-4/5 flex flex-col gap-4">
            <p>
                Soy un desarrollador full-stack con más de 6 años de experiencia
                creando aplicaciones web y móviles innovadoras. Mi pasión es
                transformar ideas en soluciones tecnológicas funcionales y
                atractivas.
            </p>
            <p>
                Especializado en Angular, NestJS, y desarrollo móvil con Android
                (Java/Kotlin) e Ionic. También tengo experiencia sólida con
                Laravel, MongoDB, Docker y desarrollo de aplicaciones
                multiplataforma con Electron.
            </p>
        </div>
    </div>
</div>
