---
import SocialMedia from "./SocialMedia.astro"
---

<div
    class="relative flex flex-col justify-between rounded-3xl border-gray-500 border-[0.5px] border-solid p-8 items-start pt-8 h-full"
>
    <h2
        class="text-3xl text-center rounded-full bg-[#EF937C] px-5 py-1 absolute -top-5 left-1/2 -translate-x-1/2 w-11/12"
    >
        Contacto
    </h2>
    <div>
        <h3 class="text-[#EF937C] text-3xl">¡Hablemos!</h3>
        <p>
            Estoy disponible para nuevos proyectos ¿Tienes un proyecto en mente
            o necesitas un desarrollador para tu equipo? ¡Me encantaría
            escucharte! Estoy disponible para proyectos freelance,
            colaboraciones y oportunidades laborales.
        </p>
    </div>
        <SocialMedia color="#F6C67A" text="gmail: marletramos@gmail.com" link="marletramos@gmail.com"/>
        <SocialMedia color="#453F89" text="Github : Marderamos" link="https://github.com/Marderamos"/>
        <SocialMedia color="#4175F1" text="LinkedIn : Mar Palomera" link="https://www.linkedin.com/in/mar-palomera-8aa099240/"/>
</div>
