---
import Pill from "./Pill.astro";
---

<div class="relative flex flex-col justify-between rounded-3xl border-gray-500 border-[0.5px] border-solid p-8 items-start pt-8 h-full">
    <h2 class="text-3xl text-center rounded-full bg-[#F6C67A] px-5 py-1 absolute -top-5 left-1/2 -translate-x-1/2 w-11/12">Perfil</h2>
    <div>
        <p class="text-xl">Desarrolladora Full Stack con +3 años de experiencia, participando en el desarrollo web, programación de sistemas, creación de aplicaciones y resolución de problemas mediante código.</p>
    </div>
    <div class="flex flex-wrap gap-4 ">
    <Pill bgColor="bg-[#634094]" title="Astro" img="./assets/img/astro.png" /> 
    <Pill bgColor="bg-[#0391CF]" title="API REST" img="./assets/img/api-rest.png" /> 
    <Pill bgColor="bg-[#F7C67A]" title="Python" img="./assets/img/Python.png" /> 
    <Pill bgColor="bg-[#E6D87C]" title="JavaScript" img="./assets/img/javascript.png" /> 
    <Pill bgColor="bg-[#ED8364]" title="HTML" img="./assets/img/html.png" /> 
    <Pill bgColor="bg-[#4175F1]" title="CSS" img="./assets/img/css.png" /> 
    <Pill bgColor="bg-[#3672A8]" title="C++" img="./assets/img/cpp.png" /> 
    <Pill bgColor="bg-[#F8963C]" title="Java" img="./assets/img/java.png" /> 
    <Pill bgColor="bg-[#646a7a]" title="Tailwind" img="./assets/img/tailwindcss.svg" /> 
    </div>
</div>