<div class="flex flex-col rounded-3xl border-gray-500 border-[0.5px] border-solid p-5 items-center">
    <img class="w-24 h-24 rounded-full object-cover  border-gray-500 border-[1px] border-solid p-[2px]" src="/src/assets/img/profile.png" alt="Profile Image">
    <h1 class="text-3xl font-semibold mt-2 text-center">Marlet <br>Palomera</h1>
    <div class="bg-green-800/40 text-black/80 px-3 py-1 rounded-full mt-2  border-gray-500 border-[1px] border-solid" >
        <p class="text-center">✨ Disponible</p>
    </div>
</div>

