<div
    class="relative flex flex-col justify-between rounded-3xl border-gray-500 border-[0.5px] border-solid p-8 items-start pt-8 h-full"
>
    <h2
        class="rounded-full bg-[#98ABBC] text-3xl w-11/12 text-center absolute -top-5 left-1/2 -translate-x-1/2 px-5 py-1"
    >
        Proyectos
    </h2>

    <ol class="md:relative md:border-s-2 md:border-dotted border-gray-800 md:ml-5 md:mt-4">
        <li class="mb-10 md:ms-6 w-full ">
            <span
                class="md:absolute flex items-center justify-center w-16 -start-8"
            >
                <img
                    class="w-40 object-cover"
                    src="/src/assets/img/iconPythonStore.png"
                    alt="Icono de proyecto"
                />
            </span>

            <div class="px-5">
                <div class="flex flex-col md:flex-row justify-between w-full">
                    <h3 class="font-bold text-2xl">PythonStore</h3>
                    <a
                        href="https://github.com/Marderamos/PythonStore"
                        target="_blank"
                        class="rounded-full bg-[#EF937C] text-2xl text-center border-black border py-1 px-5"
                        >Ver proyecto</a
                    >
                </div>
                <div class="flex flex-col">
                    <p class="text-md">
                        Desarrolladora Full Stack con +3 años de experiencia,
                        participando en el desarrollo web, programación de
                        sistemas, creación de aplicaciones y resolución de
                        problemas mediante código. Desarrolladora Full Stack con
                        +3 años de experiencia, participando en el desarrollo
                        web, programación de sistemas, creación de aplicaciones
                        y resolución de problemas mediante código.
                    </p>
                    <img
                        class="max-w-10/12"
                        src="/src/assets/img/lap.png"
                        alt="Laptop con código de programación"
                    />
                </div>
            </div>
        </li>

        <li class="mb-10 md:ms-6">
            <span
                class="absolute flex items-center justify-center w-16 -start-8"
            >
                <img
                    class="w-40 object-cover"
                    src="/src/assets/img/iconColorBallons.png"
                    alt="Icono de proyecto"
                />
            </span>

            <div class="px-5">
                <div class="flex flex-col md:flex-row justify-between w-full">
                    <h3 class="font-bold text-2xl">ColorBallons</h3>
                    <!-- TODO: VERIFICAR PORQUE SE PONE MAS A LA IZQUIERDA -->
                    <a
                        href="https://github.com/Marderamos/ColorBallons"
                        target="_blank" 
                        class="rounded-full bg-[#EF937C] text-2xl text-center border-black border py-1 px-5"
                        >Ver proyecto</a
                    >
                </div>
                <div class="flex flex-col">
                    <p class="text-md">
                        Desarrolladora Full Stack con +3 años de experiencia,
                        participando en el desarrollo web, programación de
                        sistemas, creación de aplicaciones y resolución de
                        problemas mediante código. Desarrolladora Full Stack con
                        +3 años de experiencia, participando en el desarrollo
                        web, programación de sistemas, creación de aplicaciones
                        y resolución de problemas mediante código.
                    </p>
                    <img
                        class="max-w-10/12"
                        src="/src/assets/img/lap.png"
                        alt="Laptop con código de programación"
                    />
                </div>
            </div>
        </li>

        <li class="mb-10 md:ms-6 w-full">
            <span
                class="absolute flex items-center justify-center w-16 -start-8"
            >
                <!-- TODO: CAMBIAR SVGS POR IMAGENES -->
                <img
                    class="w-40 object-cover"
                    src="/src/assets/img/iconPokemonShop.png"
                    alt="Icono de proyecto"
                />
            </span>

            <div class="px-5">
                <div class="flex flex-colmd:flex-row justify-between w-full">
                    <h3 class="font-bold text-2xl">PokemonShop</h3>
                    <a
                        href="https://github.com/Marderamos/pokemon-shop"
                        target="_blank"
                        class="rounded-full bg-[#EF937C] text-2xl text-center border-black border py-1 px-5"
                        >Ver proyecto</a
                    >
                </div>
                <div class="flex flex-col">
                    <p class="text-md">
                        Desarrolladora Full Stack con +3 años de experiencia,
                        participando en el desarrollo web, programación de
                        sistemas, creación de aplicaciones y resolución de
                        problemas mediante código. Desarrolladora Full Stack con
                        +3 años de experiencia, participando en el desarrollo
                        web, programación de sistemas, creación de aplicaciones
                        y resolución de problemas mediante código.
                    </p>
                    <img
                        class="max-w-10/12"
                        src="/src/assets/img/lap.png"
                        alt="Laptop con código de programación"
                    />
                </div>
            </div>
        </li>
    </ol>
</div>
