<div class="flex flex-col justify-between rounded-3xl border-gray-500 border-[0.5px] border-solid p-5 items-center w-full">
    <ul class="w-full text-center *:border-gray-500 *:hover:border-[0.5px] *:border-solid *:rounded-full flex flex-col gap-4 *:transition *:duration-150 *:ease-in-out">
        <li class="bg-[#f7c67a]">
            <a class="text-2xl" href="#profile">Perfil</a>
        </li>
        <li class="hover:bg-[#ed8364]">
            <a class="text-2xl" href="#profile">Experiencia</a>
        </li>
        <li class="hover:bg-[#98abbc]">
            <a class="text-2xl" href="#profile">Proyectos</a>
        </li>
        <li class="hover:bg-[#a65c8d]">
            <a class="text-2xl" href="#profile">Sobre mí</a
                ></li>
        <li class="hover:bg-[#ef937c]">
            <a class="text-2xl" href="#profile">Contacto</a>
        </li>

    </ul>

</div>