<div
    class="relative flex flex-col justify-between rounded-3xl border-gray-500 border-[0.5px] border-solid p-8 items-start pt-8 h-full"
>
    <h2
        class="text-3xl text-center rounded-full bg-[#ed8364] px-5 py-1 absolute -top-5 left-1/2 -translate-x-1/2 w-11/12"
    >
        Experiencia Laboral
    </h2>

    <ol class="relative border-s-2 border-dotted border-gray-800 ml-5 mt-4">
        <li class="mb-10 ms-6">
            <span
                class="absolute flex items-center justify-center w-6 h-6 bg-blue-100 rounded-full -start-3 ring-8 ring-white"
            >
                <svg
                    class="w-2.5 h-2.5 text-blue-800 dark:text-blue-300"
                    aria-hidden="true"
                    xmlns="http://www.w3.org/2000/svg"
                    fill="currentColor"
                    viewBox="0 0 20 20"
                >
                    <path
                        d="M20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4ZM0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm5-8h10a1 1 0 0 1 0 2H5a1 1 0 0 1 0-2Z"
                    ></path>
                </svg>
            </span>

            <div class="px-5">
                <h3 class="text-2xl font-semibold">
                    Teleperformance
                </h3>
                <p class="text-lg italic">
                    Enero 2023 - Marzo 2024
                </p>
                <ul class="list-disc list-inside mt-2 mb-5">
                    <li>Ofrecí atención bilingüe a clientes.</li>
                    <li>
                        Solucioné problemas técnicos como fallas de internet y
                        cable.
                    </li>
                    <li>Resolver dudas de billing.</li>
                </ul>
                <a
                    href="https://talentoteleperformance.com/p/Sites_Gdl"
                    target="_blank"
                    class="rounded-2xl py-2 px-4 bg-[#ed8364] text-gray-800 hover:bg-[#ed8364] mt-4"
                    >Saber más...</a
                >
            </div>
        </li>

        <li class="mb-10 ms-6">
            <span
                class="absolute flex items-center justify-center w-6 h-6 bg-blue-100 rounded-full -start-3 ring-8 ring-white"
            >
                <svg
                    class="w-2.5 h-2.5 text-blue-800 dark:text-blue-300"
                    aria-hidden="true"
                    xmlns="http://www.w3.org/2000/svg"
                    fill="currentColor"
                    viewBox="0 0 20 20"
                >
                    <path
                        d="M20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4ZM0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm5-8h10a1 1 0 0 1 0 2H5a1 1 0 0 1 0-2Z"
                    ></path>
                </svg>
            </span>

            <div class="px-5">
                <h3 class="text-2xl font-semibold">
                    Neoshore
                </h3>
                <p class="text-lg italic">
                    Septiembre  2021 - Diciembre 2022
                </p>
                <ul class="list-disc list-inside mt-2 mb-5">
                    <li>
                        Brindé atención a clientes en español, resolviendo dudas
                        relacionadas con los servicios de Telmex, como internet,
                        cable y otros servicios adicionales. Atendí y solucioné
                        problemas técnicos, principalmente fallas de conexión,
                        así como aclaraciones y dudas sobre facturación
                        (billing).
                    </li>
                </ul>
                <a
                    href="https://nearshore4u.com/"
                    target="_blank"
                    class="rounded-2xl py-2 px-4 bg-[#ed8364] text-gray-800 hover:bg-[#ed8364] mt-4"
                    >Saber más...</a
                >
            </div>
        </li>
    </ol>
</div>
